<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
  <p>
    <%= @blog.body %>
  </p>
  <p>
    <%= @blog.topic.title %>
  </p>
  <div>
    <%= render 'shared/blog_actions', blog: @blog %>
  </div>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>







