
<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
  <p>
    <%= @blog.body %>
  </p>

  <div>
    <% if logged_in?(:site_admin) %>
      <%= icon_status_helper(@blog) %>
      <%= icon_edit_helper(@blog) %>
      <%= icon_trash_helper(@blog) %>
    <% end %>
  </div>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>







