<div class="col-sm-8 blog-main">
  <h3><%= @blog.title %></h3>
  <%= render 'shared/blog_breadcrump', blog: @blog %>
  <p>
    <%= markdown(@blog.body) %>
  </p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>







