

<%= image_tag @work.main_image unless @work.main_image.blank? %>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @work.body %>
</p>

<br>
<%= link_to 'Edit', edit_work_path(@work) %>
<%= link_to 'Back', works_path %>
