<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @work.main_image.url %>
      <br>
      <%= link_to 'Edit', edit_work_path(@work) if logged_in?(:site_admin) %>
    </div>
    <div class="col-md-5">
     <h3>
       <%= @work.title %>
     </h3>
      <p>
        <%= @work.body %>
      </p>
      <hr>
      <h5>Technologies used:</h5>
        <% @work.technologies.each do |t| %>
        <p>
          <%= t.name %>
        </p>
        <% end %>
    </div>
  </div>
</div>


